#board {
  display: grid;
  grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
}

#tiles {
  display: grid;
  grid-template-columns: repeat(8, var(--tile-size));
  grid-template-rows: repeat(8, var(--tile-size));
  width: calc(8*var(--tile-size));
}

.tile {

}

.light {
  background: var(--light-tile);
}
.dark {
  background: var(--dark-tile);
}

.highlight:after {
  content: '';
  display: block;
  position: relative;
  width: calc(var(--tile-size)/2);
  height: calc(var(--tile-size)/2);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  left: 25%;
  top: 25%;
}
.attacking:after {
  content: '';
  display: block;
  position: relative;
  width: calc(var(--tile-size)/1.25);
  height: calc(var(--tile-size)/1.25);
  border-radius: 50%;
  left: calc(4px);
  top: calc(4px);
  border: 6px solid rgba(0, 0, 0, 0.1);;
}

.checked:after {
  display: block;
  position: relative;
  content: '';
  width: var(--tile-size);
  height: var(--tile-size);
  background: rgba(255, 0, 0, 0.6);
}